.counter {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 32px;
}

button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

#value {
  min-width: 40px;
  text-align: center;
}
#box {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  margin-top: 30px;
}

#coords {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
}
